SEND_EMAIL=True

SMTP_SERVER='smtp.mail.xxx.com'
SMTP_PORT='587'
SMTP_USER='xxx@xxx.com'
SMTP_PASSWORD='xxxx'
SMTP_FROM='xxx@xxx.com'

DESTINATION_EMAIL="xxx@kindle.com"

URL_KEYWORD_EXCEPTIONS = ['aaa','bbb']
ARCHIVE_DOWNLOADED = False

TODOIST_PROJECT_ID = 'aaaa' # your Todoist project ID
TODOIST_API_KEY='bbbb'